name: sync corestack provisioning template with s3
on: [ push ]
#  schedule:
#  - cron:  "*/15 * * * *"
#
jobs:
  s3-sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: sync s3
      shell: bash
      env:
        aws_key_id: ${{ secrets.S3_ACCESS }}
        aws_secret_access_key: ${{ secrets.S3_SECRET }}
        aws_s3_bucket: ${{ secrets.S3_BUCKET }}
      run: |
        sudo apt-get update && sudo apt-get -y install awscli
        aws configure set aws_access_key_id $aws_key_id
        aws configure set aws_secret_access_key $aws_secret_access_key 
        aws configure set default.region us-east-1
        aws s3 cp cfn/AWS_Provision_CoreStack/AWS_Provision_CoreStack_content.json s3://$aws_s3_bucket/
        aws s3api put-object-acl --bucket $aws_s3_bucket --key AWS_Provision_CoreStack_content.json --acl public-read
        aws s3 cp cfn/AWS_Create_IAM_User_With_Corestack_Policies/AWS_Create_IAM_User_With_Corestack_Policies_content.json s3://$aws_s3_bucket/
        aws s3api put-object-acl --bucket $aws_s3_bucket --key AWS_Create_IAM_User_With_Corestack_Policies_content.json --acl public-read
        aws s3 cp cfn/AWS_Create_IAM_Role_With_ReadOnly_Access/AWS_Create_IAM_Role_With_ReadOnly_Access_content.json s3://$aws_s3_bucket/
        aws s3api put-object-acl --bucket $aws_s3_bucket --key AWS_Create_IAM_Role_With_ReadOnly_Access_content.json --acl public-read
        aws s3 cp cfn/AWS_Create_IAM_Role_With_Corestack_Policies/AWS_Create_IAM_Role_With_Corestack_Policies_content.json s3://$aws_s3_bucket/
        aws s3api put-object-acl --bucket $aws_s3_bucket --key AWS_Create_IAM_Role_With_Corestack_Policies_content.json  --acl public-read
        aws s3 cp cfn/AWS_Create_IAM_Role_For_CorestackAssessmentandGovernance/AWS_Create_IAM_Role_For_CorestackAssessmentandGovernance_content.json s3://$aws_s3_bucket/
        aws s3api put-object-acl --bucket $aws_s3_bucket --key AWS_Create_IAM_Role_For_CorestackAssessmentandGovernance_content.json  --acl public-read
        
